.categorias{
    
    width: 80%;
    margin: auto;
    ul{
        padding-right: 100px;
        cursor: pointer;
        display: flex;
        justify-content: space-evenly;
        margin: 15px 0;

        font-size: 10px;
        font-weight: 10px;
        letter-spacing: 9%;
    }
}