
.footerBottom{
    height: 63px;

    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    span{
        
        width: 50%;
        height: 30px;
        padding: 2px 20px;
    }
}
.logos{
    width: 50%;
    display: flex;
    justify-content: center;
    
    img{
        width: 100px;
        height: 42px;
        margin-right: 50px;
    }

}